@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

// Colors
$white: hsl(0, 0%, 100%);
$primary: hsl(215, 51%, 70%);
$secondary: hsl(178, 100%, 50%);
$main-bg-color: hsl(217, 54%, 11%);
$card-bg-color: hsl(216, 50%, 16%);
$line-color: hsl(215, 32%, 27%);

// Typography
$paragraph-font-size: 18px;
$font-family: 'Outfit', sans-serif;

// Layout
$mobile-width: 375px;
$desktop-width: 1440px;
